# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=rss_news
POSTGRES_USER=rss_user
POSTGRES_PASSWORD=rss_password

# NATS
NATS_URL=nats://nats:4222

# Monitor
MONITOR_INTERVAL_MINUTES=5
RSS_SOURCES=ria,tass,kommersant

# RSS URLs
RSS_URL_RIA=https://ria.ru/export/rss2/archive/index.xml
RSS_URL_TASS=https://tass.ru/rss/v2.xml
RSS_URL_KOMMERSANT=https://www.kommersant.ru/RSS/news.xml